@model IEnumerable<EmployeeToReturnDto>

@{
	ViewData["Title"] = "Employees";
}


@if (!string.IsNullOrEmpty(TempData["Created"] as string))
{
	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="..." class="rounded me-2" alt="...">
				<strong class="me-auto">IKEA</strong>
				<small>in @DateTime.Now.Hour:@DateTime.Now.Minute</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				@TempData["Created"] 
			</div>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(TempData["Deleted"] as string))
{
	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="..." class="rounded me-2" alt="...">
				<strong class="me-auto">IKEA</strong>
				<small>in @DateTime.Now.Hour:@DateTime.Now.Minute</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				@TempData["Deleted"]
			</div>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(TempData["Updated"] as string))
{
	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="..." class="rounded me-2" alt="...">
				<strong class="me-auto">IKEA</strong>
				<small>in @DateTime.Now.Hour:@DateTime.Now.Minute</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				@TempData["Updated"]
			</div>
		</div>
	</div>
}

<h1>Employees </h1>

<br />

<br />


<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Create New Employee </a>

<br />

<form asp-action="Index" method="get" class="mt-5 row justify-content-center align-content-center">

	<div class="row col-8 container-fluid justify-content-start">

		<div class="col-8">
			<input type="text" name="search" class="form-control" id="searchInp" placeholder="Search By Name" />
		</div>
		<div class="col-4">
			<input type="submit" value="Search" class="btn btn-outline-success" />
		</div>

	</div>

</form>

@if (Model.Count() > 0)
{
	<table class=" mt-4 table table-striped table-hover">

		<thead>

			<tr>


				<th> @Html.DisplayNameFor(d => d.Name) </th>
				<th> @Html.DisplayNameFor(d => d.EmailAddress) </th>
				<th> @Html.DisplayNameFor(d => d.Department) </th>
				<th> @Html.DisplayNameFor(d => d.Age) </th>
				<th> @Html.DisplayNameFor(d => d.Salary) </th>
				<th> @Html.DisplayNameFor(d => d.IsActive) </th>
				<th> @Html.DisplayNameFor(d => d.Gender) </th>
				<th> @Html.DisplayNameFor(d => d.EmployeeType) </th>


				<th> Details </th>

				<th> Update </th>

				<th> Delete </th>


			</tr>

		</thead>

		<tbody class="text-center">



			@foreach (var employee in Model)
			{
				<tr>
					<td>@Html.DisplayFor(x => employee.Name)</td>
					<td>@Html.DisplayFor(x => employee.EmailAddress)</td>
					<td>@Html.DisplayFor(x => employee.Department)</td>
					<td>@Html.DisplayFor(x => employee.Age)</td>
					<td>@Html.DisplayFor(x => employee.Salary)</td>
					<td>@Html.DisplayFor(x => employee.IsActive)</td>
					<td>@Html.DisplayFor(x => employee.Gender)</td>
					<td>@Html.DisplayFor(x => employee.EmployeeType)</td>

					<partial name="PartialButtons" model="@employee.Id" />
				</tr>
				<div class="modal fade" id="deleteModal-@employee.Id" tabindex="-1" aria-labelledby="deleteModalLabel-@employee.Id" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="deleteModalLabel-@employee.Id">Delete @employee.Name</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Are you sure you want to delete Employee: <strong>@employee.Name</strong>?
							</div>
							<div class="modal-footer">
								<!-- Ensure the correct employee ID is passed to the delete action -->
								<form asp-action="Delete" asp-route-id="@employee.Id" method="post">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div>

			}



		</tbody>
	</table>
}
else
{
	<div class="alert alert-info mt-3">

		<h3>There is No Employees :( </h3>

	</div>
}